<!-- Page published by Emacs Muse ends here -->

    </div>

    <div id="footer">
      <hr />
      <table width="100%" border="0" summary="Footer navigation">
	<tr>
	  <td width="40%" align="left">
            <a href="http://www.gnu.org/software/emacs/">
              <img src="var/made-with-emacs.jpg" 
                   alt="made with gnu emacs"/>
            </a>
            <a href="http://www.mwolson.org/projects/EmacsMuse.html">
              <img src="var/muse-made-with.png" alt="made with emacs muse"/>
            </a>
          </td>
                  
          <td width="20%" align="center">
            <span class="footdate">
	    <lisp>
              (concat "Updated:" (format-time-string "%d-%m-%Y") )
            </lisp>
            </span>
          </td>
          
          <td width="33%" align="right">
            <span class="footlink">
              <a href="http://validator.w3.org/check?uri=referer">
                    <img style="border:0"
                    src="var/xhtml.gif"
                    alt="W3C XHTML 1.0"/>
              </a>
              <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0"
                     src="var/css.gif" 
                     alt="W3C CSS" />
              </a>
            </span>
          </td>


	</tr>
      </table>
    </div>


  </body>
</html>
